# Change the values and rename the file to .env.dev

# The name of the project (used as prefix for the containers)
COMPOSE_PROJECT_NAME=YOUR_NAME-fundus-murag-dev

# The profiles to use. Available profiles are: weaviate-de, mlflow, and fundusml. Remove fundusml if you start the ML service locally. The backend and frontend are started manually in dev mode.
COMPOSE_PROFILES=weaviate-dev,mlflow,fundusml

# The UID and GID of the user on the host machine. Find out with `id -u` and `id -g`
UID=YOUR_UID
GID=YOUR_GID

# Use FUNDUS_ML_DEV_MODE=0 to use the production version of Fundus ML, i.e, with more GPU support.
# Use FUNDUS_ML_DEV_MODE=1 to use the development version of Fundus ML, i.e, with less GPU support.
FUNDUS_ML_DEV_MODE=1

# Exposed ports. Choose a host-wide unique port for each service.
# A good practive is to select a two digit number between 10 and 65 and keep the last three digits as is.
WEAVIATE_HTTP_EXPOSED=<TWO_DIGITS>016
WEAVIATE_GRPC_EXPOSED=<TWO_DIGITS>017

FUNDUS_ML_EXPOSED=<TWO_DIGITS>018

MLFLOW_EXPOSED=<TWO_DIGITS>019
