fastapi==0.115.11
fire==0.7.0
google-ai-generativelanguage==0.6.10
google-auth==2.35.0
google-cloud-aiplatform==1.70.0
google-generativeai==0.8.3
gunicorn==23.0.0
loguru==0.7.3
openai==1.66.3
pandas==2.2.3
pillow==10.4.0
protobuf==5.28.2
pyarrow==17.0.0
pydantic==2.10.6
pydantic-settings==2.2.1
pytest==8.3.5
pyyaml
srsly==2.4.8
tqdm==4.66.5
weaviate-client==4.8.1
